body {
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-family: "Allerta Stencil";
    line-height: 1.8;
    background-image: url("../img/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
    overflow-x: hidden;
}

.bookNow {
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.bookNow .button {
    background-image: url('../img/BookNow.jpg');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
    height: 32px;
    width: 100px;
    border: none;
}

.button:hover {
    cursor: pointer;
}

#navigation {
    background-color: rgba(0,0,0,.85);
    width: 100%;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1
}

#navigator {
    background-color: rgba(255,255,255, .35);
    width: 55%;
    border-radius: 15px;
    position: relative;
    margin-top: 2rem;
    margin-bottom: 1rem;
    z-index: 2;
}

#navigation #nav-list{
    z-index:3;
    list-style: none;
    display: flex;
    border-radius: 15px 15px;
    flex-basis: auto;
    margin-right: auto;
    padding: 0;
    align-content: center;
    justify-content: space-around;
}

#navigator .companyLogo {
    position: absolute;
    text-align: center;
    left:0;
    top:-.55rem;
    right: 0;
    width: 100%;
    z-index:2;
}

#navigator .companyLogo img{
    width: 6rem;
}

#nav-list li a {
    text-transform: uppercase;
    color: black;
    text-decoration: none;
}

#nav-list li a:hover {
    text-shadow: 1px 1px 2px black, 0 0 28px white;
    color: white;
    z-index:99;
}

#navigation #nav-list .active {
    color: white;
    text-shadow: transparent;
}

#navigation #nav-list a {
    padding: .5em;
}

#nav-list li {
    width: 120px;
    z-index: 98;
}


#nav-list li:nth-child(-n + 3) {
    text-align: center;
}

#nav-list li:nth-child(n+4) {
    text-align: center;
}

#nav-list li:nth-child(4){
    margin-left: 6rem;
}
/* main section */

#main {
    display: flex;
    width: 80%;
    margin: 65px auto;
    flex-wrap: wrap;
    background-color: rgba(0,0,0,.45);
    border-radius: 15px;
}

.main-container {
    flex-grow: 1;
    width: 38%;
    height: auto;
    flex-shrink: 2;
    color: #fff;
    font-size: 1.0rem;
    margin: 18px;
}

.main-container:last-child{
    padding: 20px 0;
}

.main-container img {
    object-fit: contain;
    width: 20vw;
    border-radius: 15px;
}
.main-container:last-child img{
    width: 8vw;
}

.main-container ul {
    list-style: none;
    display: block;
    padding:0;
}

.main-container li {
    display: inline-block;
    margin: 10px;
    background-color: rgba(255,255,255,.45);
    width: 50px;
    height: 50px;
    border-radius: 100px;
}

.main-container li i{
    margin-top: 8px;
    font-size: 1.9rem;
    color: white;
}

.main-container li i:hover {
    color: black;
}

footer {
    background-color: rgba(0,0,0,.85);
    color: #fff;
    text-align: center;
}

footer #info p{
    margin: 10px 0 0 0;
    text-align: center;
    width: 100%;
}


/* Schedule Page CSS */

#book {
    margin: auto;
    text-align: center;
}

#times table {
    margin: 30px auto;
    color: white;
    width: 40%;
    background-color: rgba(0,0,0,.65);
    border-radius: 15px;
}

#times table td {
    margin: 20px;
}

/* Services Page CSS */

#services {
    background-color: rgba(0,0,0,.75);
    width: 80%;
    color: white;
    margin: 40px auto;
    border-radius: 15px;
    list-style: none;
    padding: 0;
}

.service {
    display: flex;
}

.description {
    width: 60%;
    text-align: left;
    margin-left: 20px;
    flex-shrink: 2;
}

.service img {
    width: 25%;
    height: 25%;
    margin-top: 40px;
    align-items: flex-end;
    margin-left: 10%;
    border-radius: 10px;
    flex-shrink: 1;
}
/* Media queries */

@media screen and (max-width: 600px){
    body{
        background-position: 34%;
    }
    #navigation{
    }
    #nav-list{
        margin: 0 14px;
        width: 80%;
    }
    #nav-list li{
    display: none;
    }
    #nav-list li:first-child{
        justify-content: flex-start;
    }
    #navigator .companyLogo {
        top: .3rem;
        right: 70px;
        width: 60%;
    }
    .rwdmenu {
        display:block;
        float: right;
        padding: 20px;
        margin: 10px;
    }
    .bar1, .bar2, .bar3 {
        width: 35px;
        height: 5px;
        background-color: #333;
        margin: 6px 0;
        transition: 0.4s;
    }
    /*rotates first bar*/
    .change .bar1 {
        -webkit-transform: rotate(-45deg) translate(-9px, 6px);
        transform: rotate(-45deg) translate(-9px, 6px);
    }
    .change .bar2 {
        opacity: 0;
    }
    .change .bar3 {
        -webkit-transform: rotate(45deg) translate(-8px, -8px);
        transform: rotate(45deg) translate(-8px, -8px);
    }
    /* end of rwdmenu*/
    nav img:nth-child(2n + 0){
        display: none;
    }
    nav button {
        display: none;
    }
    #main {
        display: block;
        width: 100%;
        margin: auto;
        text-align: center;
        border-radius: 0;
    }
    .main-container {
        width: 80%;
        display: block;
        margin: auto;
        font-size: .9rem;
        padding: 10px 0;
    }
    .main-container img:nth-child(2n+1){
        display: block;
        width: 100%;
        position: relative;
        top: -90px;
    }
    .main-container:last-child img{
        display: none;
    }
    .main-container .image-container{
        max-height: 200px;
        object-fit: contain;
        width: 100%;
        overflow: hidden;
        box-shadow: 4px 4px rgba(0,0,0, .25);
    }
    #main h3:first-child{
        margin-top: 0;
        padding-top: 20px;
    }
    #info p:first-child {
        margin-top: 0;
        padding-top: 20px;
    }
}
